body { 
    margin: 30px;
    background-image: url("https://cdn.oneesports.gg/cdn-data/2024/04/WutheringWaves_Characters_LaunchDate_KeyVisual.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
body {
    color: white;
    font-size: larger;
}

p{
    color:wheat;
    font-size: larger;
}
a{
    color: white;
    font-size: larger;  
}
em {
  color: aliceblue;
}

#title {
    background-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    max-width: 25%;
  }

  .subsection.header {
    color: rgb(255, 255, 255);
  }
  
  .subsection#preview {
    color: rgb(0, 236, 79);
  }
  div img{
      max-width: 25%;
      max-height: 25%;
      border: 10px solid rgb(81, 0, 231);
      }